#cotizador {
  background-image: url('/imgs/1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/*#cotizador .v_cot_2 {
  display: none;
}

#cotizador video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
*/
#cotizador h2 {
  padding-bottom: 20px;
  color: #ffffff;
}

#cotizador label {
  color: #ffffff;
}

#cotizador .cont_cot {
  background: #152a7ce8;
  padding: 20px;
  border-radius: 20px;
}


.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons .next-btn,
.buttons .prev-btn,
.btn-lg {
  background: #6e44ff;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin-right: 5px;
}

.btn-lg {
  float: right;
}

.buttons .next-btn:hover,
.buttons .prev-btn:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.buttons #download-pdf {
  background: rgb(151, 28, 28);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

.buttons #download-pdf:hover {
  background: #ffffff;
  color: rgb(151, 28, 28);
}

.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.step {
  width: 30%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

.step.active {
  color: #6e44ff;
}


/* Estilos para el formulario */
form {
  max-width: 500px;
  margin: 0 auto;
}

.paso:not(:first-child) {
  display: none;
}

label {
  width: 100%;
  padding-left: 5px;
  text-align: start;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

#cantP,
#desde,
#hasta {
  text-align: center;
}

#fechaDesde,
#fechaHasta {
  margin-bottom: 10px;
}

#personas {
  width: 50px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
  padding-left: 3px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
#message,
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color: #fff;
  color: #7178df;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #0066cc;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button.anterior {
  display: none;
}

#resultado {
  color: #ffffff;
}

#resultado strong {
  color: #fff;
}

#resultado h1 {
  display: none;
}

/* Modo Oscuro del COtizador */

.modo-oscuro #cotizador .v_cot_1 {
  display: none;
}

.modo-oscuro #cotizador .v_cot_2 {
  display: block;
}

.modo-oscuro #cotizador {
  background-image: url('../imgs/glob_aer.jpg');
}

.modo-oscuro #cotizador .cont_cot {
  /*background: #001764ab;*/
  background-image: linear-gradient(to right, rgba(163, 0, 54, 0.171), rgba(129, 0, 108, 0.178), rgba(27, 0, 145, 0.178), rgba(0, 65, 119, 0.164));
  background-size: 1400% 100%;
  animation: gradient 4s ease infinite;
  transition: 0.3s ease-in-out;
}

@keyframes gradient {
  0% {
    background-position: 0%; /* Posición inicial del fondo */
  }
  50% {
    background-position: 100%; /* Posición final del fondo */
  }
  100% {
    background-position: 0%; /* Posición final del fondo */
  }
}

.modo-oscuro input[type="text"],
.modo-oscuro input[type="email"],
.modo-oscuro input[type="tel"],
.modo-oscuro #message,
.modo-oscuro select {
  border: 2px solid #ff00ea#ff00ea;
  background-color: rgb(28, 0, 131);
  color: #ffffff;
}

.modo-oscuro .buttons .next-btn,
.modo-oscuro .buttons .prev-btn,
.modo-oscuro .btn-lg {
  background: #ff00ea;
  color: rgb(255, 255, 255);
}

.modo-oscuro .buttons .next-btn:hover,
.modo-oscuro .buttons .prev-btn:hover {
  background: #ffffff;
  color: #ff00ea;
}

.modo-oscuro .buttons #download-pdf {
  background: #ff0000;
  color: rgb(255, 255, 255);
}

.buttons #download-pdf:hover {
  background: #ffffff;
  color: rgb(255, 0, 0);
}

.modo-oscuro .step.active {
  color: #ff2cff;
}