/* Universales + Body */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Header */

header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.3s ease-in-out;
}

header .brand {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

.navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

.navigation-items i {
  font-style: normal;
  cursor: pointer;
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items i:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

header .navigation .navigation-items i:hover:before {
  width: 100%;
}

/* Header Sticky */

header.sticky {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

header.sticky .brand {
  color: #480ca8;
}

header.sticky .menu-btn {
  display: none;
}

header.sticky .menu-btn {
  background: url(../imgs/hamb_right_2.svg)no-repeat;
  background-size: 30px;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}

header.sticky .menu-btn.active {
  background: url(../imgs/x-square_2.svg)no-repeat;
  background-size: 30px;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}


header.sticky .navigation-items a {
  color: #b5179e;
}

header.sticky .navigation-items i {
  color: #480ca8;
}

header.sticky .navigation .navigation-items a:before {
  background: #480ca8;
}

header.sticky .navigation .navigation-items i:before {
  background: #480ca8;
}

/* modal */

/* Estilos para la ventana modal */
 .modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
} 


.modal-contenido {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Ajustes Modal 

.modal-content {
  background: #1688AC;
  width: 600px;
  height: 400px;
}

.modal-header {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

.modal-header button {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 40px;
}

.modal-header h5 {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 600;
}

.modal-body {
  background-color: darkmagenta;
  padding: 0;
}

.form_p1 {
  display: flex;
  background-color: darkgreen;
  position: relative;
  justify-content: center;
}

.modal-body #email1 {
  background-color: brown;
  width: 270px;
  margin-right: 20px;
}

.modal-body #password1 {
  width: 270px;
}

.form_p2 {
  display: flex;
  background-color: darkgreen;
  position: relative;
  justify-content: center;
  padding-left: 20px;
}

.modal-body #password2 {
  background-color: brown;
  width: 270px;
  margin-right: 20px;
}

.modal-body #password3 {
  width: 270px;
}

.modal-body #opciones {
  width: 270px;
}

.form_p2 .cont_mensaje {
  padding-left: 20px;
}

.modal-content .btn-success {
  padding: 0;
  margin: 0;
} */


/* Carrousel */

.home {
  padding: 100px 200px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: #173196;
  transition: ease-in-out;
}

.home:before {
  z-index: 777;
  content: "";
  position: absolute;
  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 80%;
  margin-top: 50px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h2 {
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  transition: 0.5s ease;
}

.home .content h2 span {
  font-size: 1.5em;
  font-weight: 900;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #b5179e;
  padding: 15px 35px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.5s ease;
}

.home .content a:hover {
  background: #fff;
  color: #b5179e;
  }
  
.home .icons {
  z-index: 888;
  position: fixed;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.home .icons a {
  color: #480ca8;
  font-size: 1.6em;
  text-decoration: none;
  transition: 0.5s ease;
}

.home .icons .fa-sharp {
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #480ca8;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.home .icons #modo {
  width: 40px;
  height: 40px;
  background: #480ca8C;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #480ca8;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.home .icons #modo {
  color: #480ca8;
  font-size: 1.6em;
  transition: 0.5s ease;
  cursor: pointer;
}

.home .icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .icons a:hover {
  transform: scale(1.3);
}

.home .icons #modo:hover {
  transform: scale(1.3);
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: #b5179e;
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

/* Opacidad */

.home::before {
  content: "";
  position: absolute;
  z-index: 666;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 195, 255, 0.2);
}

/* Responsive de Header */

@media (max-width: 1000px) {
  header {
    padding: 12px 20px;
  }

  .home {
    position: relative;
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header.sticky .menu-btn {
    display: block;
  }

  /* Menu venana */

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items i {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation .navigation-items i:before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  /* Hamburguesa */

  .menu-btn {
    background: url(../imgs/hamb_right.svg)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(../imgs/x-square.svg)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
}


/* Responsive de carrousel */

@media (max-width: 720px) {
  .home .content h2 {
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 45px;
    margin-bottom: 20px;
  }  

  .home .content h2 span {
      font-size: 40px;
  }

  .home .content a {
    background: #b5179e;
    padding: 15px 25px;
    color: #fff;
    font-size: 15px;
  }

  .slider-navigation {
    transform: translateY(90px);
  }
}


/* Tarjetas */

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
  width: 100%;
}

/* Revisar h2 de tarjetas */

.cont_titulo2 {
	display: none;
}

.cont_titulo2 {
	width: 100%;
	text-align: center;
}

.cont_titulo2 h2 {
	font-size: 35px;
	font-weight: 600;
	color: rgb(0, 15, 37);
}

.cont_cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding: 15px 0 15px 0;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 15px 15px 15px 15px;
  transition: 0.5s ease;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
	margin-bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  /* background: rgba(0, 0, 0, 0.37); */
  background:#b5179d44;
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #7178df;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back h3 {
	padding-top: 0;
	margin-top: 0;
  color: #b5179e;
}

.card .back p {
  font-size: 15px;
  margin: 0;
  margin-top: 5px;
  vertical-align: top;
  height: 100%;
} 

.card .back a {
  padding:  5px 19px;
  border-radius: 7px;
  text-decoration: none;
  background: #b5179e;
  color: #fff;
  font-weight: 600;
}

.card .back a:hover {
  background: #fff;
  color: #480ca8;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}


/* Responsive de tarjetas */

@media (max-width: 1000px) {
  .card {
  	width: 250px;
  	height: 300px;
  }

.card h3 {
  font-size: 14px;
}

.card .back p {
  font-size: 12.5px;
}

.card .back a {
  font-size: 14px;
  padding:  4px 17px;
}
}

@media (max-width: 840px) {
  .card {
    width: 200px;
    height: 250px;
  }

  .card h3 {
    font-size: 13px;
  }
  
  .card .back p {
    font-size: 9.5px;
  }

  .card .back a {
    font-size: 13px;
    padding:  3px 15px;
  }
}

@media (max-width: 690px) {
  .card {
    width: 250px;
    height: 300px;
  }

  .card h3 {
    font-size: 14px;
  }
  
  .card .back p {
    font-size: 12.5px;
  }

  .card .back a {
    font-size: 14px;
    padding:  4px 17px;
  }
}

@media (max-width: 560px) {
  .card {
    width: 200px;
    height: 250px;
  }

  .card h3 {
    font-size: 13px;
  }
  
  .card .back p {
    font-size: 9.5px;
  }

  .card .back a {
    font-size: 13px;
    padding:  3px 15px;
  }
}

@media (max-width: 460px) {
  .card {
    width: 300px;
    height: 350px;
  }

  .card h3 {
    font-size: 16px;
  }
  
  .card .back p {
    font-size: 15px;
  }

  .card .back a {
    font-size: 16px;
    padding:  5px 19px;
  }
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}
    
@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
/* ----------------------------------------------- */

#nosotros{
 
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100%;
    
  justify-content: space-evenly;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;  
}

.nostitulo{
 margin-bottom: 15px;

text-align: center;

}

.caja i{
  color:#b5179e ;
  font-size: 19px}
.contenedor-caja{
display: flex;
  flex-direction: row;
  flex-wrap: wrap;/* autoacomodable */
  justify-content: space-evenly;
}

.caja{
background-color:#173196;
color: #fcf5eb;
width: 300px;
height: 350px;

text-align: center;
padding:50px;
border-radius: 10px;
font-size: 14px;

}
 /* seccion  nosotros con imagen de fondo */
.contenedor-rectangulo {
  display: flex;
       flex-direction: row;
       height: 300px;
       width: 100%;
       margin-bottom: 0px;

       background-image: url("https://images.unsplash.com/photo-1486134030336-39b1094bf33e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1007&q=80");
       background-position: center;
       background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;/* desplazamiento de iagen de fondo */
}

.destinos {
     
background-color: #b5179d8e;
justify-content: space-between;  
color: #fdfcff;
width: 75%;
height: 300px;
text-align: center;  
padding: 30px;

}

/* footer ---------------*/
.footer {
  display: flex;
  flex-flow: column wrap;
  color:#ffffff;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
   
}
.mifooter{
background-color:#173196;
height: 236px;

}
/* Desarrolladores--------------------------------- */

.contenedor-desarrollo{
 display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 200px;
width: 100%;
background:#7178df;
}

.texto-desarrollo{

  width: 50%;
  margin-left: 70px ;
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,sans-serif;
  font-size: 14px;
  line-height: 20px;
    
}
.logos-git{
  display: flex;
justify-content: space-evenly;
 width: 50%;
}

.logos-git img{
height: 60px;
border-radius: 50%;
border: solid 2px gray;
transition: 0.5s;

}

.logos-git img:hover{
  transform: scale(1.5);/*logos git efectos*/
}

/*logo- seguinos---- contacto---------------------------- */
.cont{
  margin-top: 50px ;
  padding-left:0px;
  align-content: center;
  font-size: small;
}
.cont i{
  margin: 10px 0px;
   
}
.redes{
 text-align: center; 
margin-top: 50px;
font-size: medium;

}
.redes i{
  font-size: 250%; 
  margin: 20px 10px;

}

.newsletter{
  margin-top: 50px ;
  margin-left: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,sans-serif;
 color: #fcf5eb;
}
.input-group{
  display: flex  ;

}


.logo{

  object-position: center;
  height: 80%;
  width: 80%;
}



/* ----------------------------------------------- */


/* Modo Dark/White */

/* Estilo para el header en modo oscuro */
body.modo-oscuro header {
  background: rgba(49, 0, 95, 0.7);
  backdrop-filter: blur(5px);
}

.modo-oscuro .navigation-items a {
  color: #ffffff;
}

.modo-oscuro .navigation-items i {
  color: #ffffff;
}

.modo-oscuro .home::before {
  background: rgb(49, 0, 95, 0.2);
}

.modo-oscuro .home .content a {
  background-color: rgba(49, 0, 95);
  color: #ffffff;
}

.modo-oscuro header.sticky .brand {
  color: #ffffff;
}

.modo-oscuro header.sticky a {
  color: #ffffff;
}

.modo-oscuro .home .icons .fa-sharp {
  background: rgba(49, 0, 95);
  color: #ffffff;
  border: 2px solid #ffffff;
}

.modo-oscuro .home .icons #modo {
  background: rgba(49, 0, 95);
  color: #ffffff;
  border: 2px solid #ffffff;
}

.modo-oscuro .slider-navigation .nav-btn.active {
  background: rgba(49, 0, 95);
}

.modo-oscuro .tarjetas {
  background-color: rgba(49, 0, 95);
}

.modo-oscuro .card .back {
  background: #1a0022;
}

.modo-oscuro .nos {
  background: #1a0022;
}

.modo-oscuro .nostitulo {
  color: #fff;
}

.modo-oscuro .caja {
	background-color: #1b0047;
  border: 2px solid #fff;
}

.modo-oscuro .texto-desarrollo {
  background-color: #1b0047;
}

.modo-oscuro .mifooter {
	background-color: #1b0047;
	height: 236px;
}